{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('acceuil') }}
{% endblock %}

{% block title %}Locky
{% endblock %}

{% block body %}
	<h1 class="container mt-5">Les dernières demandes de prestation</h1>
	<div class="container mt-5">
		<div class="row align-items-start">
			<div class="col">
				<p>date de la demande</p>
			</div>
			<div class="col">
				<p>Nom</p>
			</div>
			<div class="col">
				<p>Extrait</p>
			</div>
			<div class="col">
				<p>Rémunération</p>
			</div>
			<div class="col">
				<p>Actions</p>
			</div>
		</div>
	</div>

	{% for prestation in prestations %}
		<div class="line container pt-3 mb-3">
			<div class="row align-items-start">
				<div class="col">
					{{ prestation.dateDeCreation }}
				</div>
				<div class="col">
					{{ prestation.nom }}
				</div>
				<div class="col">
					{{ prestation.extrait }}
				</div>
				<div class="col">
					{{ prestation.remuneration }}
					€
				</div>
				<div class="col">
					<button class="btn btn-primary">Voir</button>
				</div>
			</div>
		</div>
	{% endfor %}

	<div class="container mt-5">
		<h2>Bienvenue au dernier utilisateur inscrit</h2>
		{% for user in users %}
			{{ user.nom }}
			{{ user.prenom }}
		{% endfor %}
	</div>

{% endblock %}
